/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/**
    * ----------------------------------------
    * animation rotate-bl
    * ----------------------------------------
    */
@keyframes rotate-bl {
  0% {
    transform: rotate(270deg);
    transform-origin: bottom left;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: bottom left;
  }
}

.happyFace {
  position: relative;
  float: right;
  right: 5px;
  bottom: 49px;
  z-index: 1;
  opacity: 0;
}

.happyFace.animate {
  opacity: 1;
  animation-name: rotate-bl;
  animation-duration: 0.5s;
}

.sadFace {
  position: relative;
  float: right;
  right: -45px;
  bottom: 49px;
  z-index: 1;
  opacity: 0;
}

.wrong {
  display: inline-block;
  background-color: #06D6A0;
  padding: 10px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border-style: none;
  margin: 0px 5px 18px 0px;
}

.sadFace.animate {
  opacity: 1;
  animation-name: rotate-bl;
  animation-duration: 0.5s;
}

.positionLeft {
  display: block;
  color: #FFD166;
  position: relative;
  right: 65px;
  bottom: 40px;
  z-index: 2;
}

.hidingBox {
  display: block;
  position: relative;
  float: right;
  color: #FFD166;
  height: 150px;
  width: 0px;
  right: -50px;
  z-index: 3;
}

html {
  color: #222;
  background-color: #FFD166;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Varela Round', sans-serif;
  padding: 40px;
  max-width: 600px;
  margin: auto;
}

header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 20px 0px 19px 0px;
}

.scoreBox {
  background-color: #EF476F;
  padding: 20px;
  box-sizing: border-box;
  color: #FFD166;
  margin: 0px 0px 0px 0px;
  width: fit-content;
}

.scoreBox h4 {
  margin: 0px;
  text-align: center;
}

h1 {
  color: #EF476F;
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

h2, h3, p {
  margin: 0px 0px 18px 0px;
}

.quiz {
  background-color: #EF476F;
  color: #073B4C;
  padding: 40px;
}

#quizForm input[type="radio"] {
  position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   white-space: nowrap; /* added line */
}

.jsHidden {
  display: none;
}

#quizForm label {
  display: inline-block;
  background-color: #06D6A0;
  padding: 10px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border-style: none;
  margin: 0px 5px 18px 0px;
}

#quizForm input[type="radio"]:checked+label {
  background-color: #bfb;
  border-color: #4c4;
}

#quizForm input[type="radio"]:focus+label {
  background-color: #dfd;
}

#quizForm label:hover, #quizForm label:checked {
  background-color: #dfd;
}

#quizForm label:active {
  background-color: #dfd;
}

input.submit {
  margin: 0px;
  display: block;
  background-color: #118AB2;
  color: #FFD166;
  border-style: none;
  padding: 10px;
}
